/* selector semua element */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  background-color: salmon;
  color: white;
}
.btn:hover{
  background-color: rgb(201, 102, 91);
}

.cancel-btn{
  padding: 10px;
  border-radius: 5px;
  background-color: crimson;
  color: white;
}
.cancel-btn:hover{
  background-color: rgb(158, 15, 44);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

/* css navigation bar */
nav {
  background-color: rgba(234, 151, 123);
  display: flex;
  justify-content: space-between;
  padding: 0rem 6%;
  border-bottom: 0.25rem solid white;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  height: 8vh;
}
nav .navbar-logo {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin: auto 0rem;
}
nav .navbar-logo:hover {
  color: black;
}
nav .navbar-nav{
  display: flex;
}
nav .navbar-nav a {
  display: inline-block;
  padding: 0px 2rem;
  margin: auto 0rem;
  color: white;
}
nav .navbar-nav a:hover {
  color: black;
}
nav #menu-bar{
  display: none;
}



/* css section pertama landing page */
.landing-page {
  height: 100vh;
  background-image: url("../img/landing-page-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0));
}
.landing-page {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page .text h1 {
  font-size: 7rem;
}
.landing-page .text p {
  font-size: 1.1rem;
  padding: 0vw 15vw;
}
.landing-page .text button {
  padding: 1rem 5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: whitesmoke;
  background-color: darksalmon;
}
.landing-page button:hover {
  background-color: salmon;
  cursor: pointer;
}



/* css sectioan kedua about us */
.about-us header {
  height: 15vh;
  background-color: rgba(215, 215, 215, 0.5);
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .container {

  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .container .content {
  display: flex;
  width: 90%;
}
.about-us .container .content .picture img {
  width: 100%;
  border-radius: 1rem;
}
.about-us .container .content .picture {
  flex: 1 1 810px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .container .content .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 810px;
  padding-left: 2rem;
}
.about-us .container .content .text h1{
  font-size: 2.5rem;
}
.about-us .container .content .text p{
  padding: 1.5rem 0rem;
  font-size: 1.2rem;
}



/* css section ketiga menu */
.menu header {
  height: 15vh;
  background-color: rgba(215, 215, 215, 0.5);
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu #container-slider{
  overflow-x: scroll;
}
.menu #container-slider .slider {

  padding: 5rem;
  display: inline-flex;
}
.menu .slider-button{
  margin-top: 11rem;
}
.menu #container-slider .slider-button #prev{
  padding: 1rem;
  border-radius: 3rem;
  font-size: 3rem;
  background-color: rgba(215, 215, 215, 0.8);
  position: absolute;
  left: 2rem;
  font-weight: bolder;
}
.menu #container-slider .slider-button #next{
  padding: 1rem;
  border-radius: 3rem;
  font-size: 3rem;
  background-color: rgba(215, 215, 215, 0.8);
  position: absolute;
  right: 2rem;
  font-weight: bolder;
}
.menu .item-menu {
  margin: 0rem 1rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 20rem;
  background-color: rgba(234, 151, 123, 0.7);
  display: flex;
  flex-direction: column;
  flex: 4 4 2rem;
  box-shadow: 7px 7px 7px #aaaaaa;
}
.menu .item-menu img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
}
.menu .item-menu p{
  padding: 1rem 0rem;
}
.menu .item-menu h3{
  text-align: right;
}



/* css section keempat formulir pemesanan */
.contact header {
  height: 15vh;
  background-color: rgba(215, 215, 215, 0.5);
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container {

  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container #formulir {
  background-color: darksalmon;
  width: 50vw;
  padding: 2rem;
  border-radius: 2rem;
}
.contact .container #formulir input{
  display:block;
  margin-bottom: 1.3rem;
  margin-top: 1rem;
  width: 100%;
  height: 3vh;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.1rem;
}
.contact .container #formulir button{
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: rgba(215, 215, 215, 0.5);
}
.contact .container #formulir button:hover{
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}


/* css footer */
footer {
  padding: 15px;
  text-align: center;
  background-color: lightgray;
}
footer .navbar-nav{
  padding: 1rem;
}
footer .navbar-nav a{
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  color: black;
}
footer .navbar-nav a:hover{
  color: salmon;
}


/* css login */
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login .container{
  width: 30%;
  background-color: salmon;
  display: block;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}
.login .container input{
  width: 100%;
  padding: 0.4rem;
  margin: 0.5rem 0px;
  border-radius: 0.3rem;
}



/* css index_admin */
.admin .header{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: salmon;
  color: white;
}
.admin .container{
  display: flex;
  height: 90vh;
}
.admin .container .side-bar{
  width: 20vw;
  background-color: cadetblue;
}
.admin .container .side-bar a{
  display: block;
  padding: 1rem;
  color: white;
}
.admin .container .side-bar a:hover{
  background-color: #aaaaaa;
}
.admin .container .content{
  width: 80vw;
  padding: 15px;
}
.admin .container .content table{
  width: 100%;
  border-collapse: collapse;
}
.admin .container .content table td{
  border: 1px black solid;
  border-collapse: collapse;
  padding: 10px;
}
.admin .container .content table th{
  border: 1px black solid;
  border-collapse: collapse;
  padding: 10px;
  background-color: cadetblue;
  color: white;
}
.admin .container .content img{
  width: 200px;
}


.form-body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-body .form-container .header{
  text-align: center;
  font-size: larger;
  padding: 20px;
}
.form-body .form-container .content{
  background-color: salmon;
  width: 80vw;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}
.form-body .form-container .content .row{
  display: flex;
  padding: 10px 0px;
}
.form-body .form-container .content .row .form-element{
  width: 100%;
  padding: 0px 20px;
}
.form-body .form-container .content .form-element input[type=text],
.form-body .form-container .content .form-element input[type=submit],
.form-body .form-container .content .form-element .cancel-btn{
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

/* Laptop Responsive */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}


/* Tablet Responsive */
@media (max-width: 811px) {
  html {
    font-size: 75%;
  }
  nav #menu-bar{
    display: inline-block;
    padding: 2rem;
    margin: auto 0rem;
    color: white;
  }
  nav .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(234, 151, 123, 0.9);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    display: block;
  }
  nav .navbar-nav.active {
    right: 0;
  }
  nav .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  nav .navbar-nav a:hover{
    background-color: rgba(215, 215, 215, 0.8);
    color: salmon;
  }
  .about-us .container .content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .about-us .container .content .text {
    padding-left: 0;
    padding-top: 2rem;
  }
}

/* Mobile Responsive */
@media (max-width: 663px) {
  html {
    font-size: 65%;
  }
  nav #menu-bar{
    display: inline-block;
    padding: 2rem;
    margin: auto 0rem;
    color: white;
  }
  nav .navbar-nav {
    position: absolute;
    display: block;
    top: 100%;
    right: -100%;
    background-color: rgba(234, 151, 123, 0.9);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  nav .navbar-nav.active {
    right: 0;
  }
  nav .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  nav .navbar-nav a:hover{
    background-color: rgba(215, 215, 215, 0.8);
    color: salmon;
  }
}


